name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t amalapasham/html-webpage:latest .

      - name: Push Docker image to Docker Hub
        run: docker push amalapasham/html-webpage:latest

      - name: Run Trivy security scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: amalapasham/html-webpage:latest
          format: table
          exit-code: 0
          ignore-unfixed: true
